<!DOCTYPE html>
<html>
<head>
   <h1><a href="localhost:3000" target="blank">TODO DIA TEM GOL DO GABIGOL </a></h1></head>
   <body>
        <form action="/registro-usuario-salvar" method="POST">
        Name<input type="text" name="nameBody">
        Email<input type="text" name="emailBody">
        Username<input type="text" name="usernameBody">
        Password<input type="text" name="passwordBody">
            <button type="submit">Enviar</button>
        </form>
    </body>
</html>
