body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
  cursor: pointer;
}

a:hover,
a:active {
  color: #00B7FF;
  text-decoration: underline;
}

a.danger {
  color: red;
}

.spacing {
  margin-bottom: 20px;
}

input.ng-invalid.ng-touched {
  border: 1px solid red;
}


#rodape{
  background-color: #0000CD;
  text-align: center;
  color: #FFFFFF;
  font-size: 20px;
  font-family: arial;
  text-shadow: 2px 2px 2px #000;
}
#Topo{
  background-color: #0000CD;
       text-align: center;
       width: 100%;
      height: 300px;
}